@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Merriweather", serif;

}

/* banner container stard here */

.banner-container{
    max-width:1020px;
    min-height:600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0 ,0 ,0, 0.4);
    background-image: url("images/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

    
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
   

}

.banner-content h1{
    color: white;
    font-size: 62px;
    font-weight: 900;
}

.banner-content p{
    color: white;
    font-size: 22px;
   font-weight: 400;
}

/* 65% style style here */
.first-container{

    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
}

.first-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.first-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}

.first-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
}

.img-content{
    width: 802.9px;
    height: 500px
}

.img-content img{
    width: 100%;
    height: 100%;
}

/* Might night scetion style here */

.second-container{
    width: 1020px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0 ,0 ,0, 0.5);
    background-image: url("./images/Vectorrr.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-top: 60px;
    margin-bottom: 100px;

}

.leftside{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.leftside h2{
    color: rgb(255, 255, 255);
    font-family: "Merriweather", serif;
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 20px;
}

.leftside p{

    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 25px;
}

.mighty-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    margin-right: 330px;
    font-weight: 700

}
    

.rightside{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightside img{
    width: 300.16px;
    eight: 320.65px;
}

/* Holiday code stard here */
.holiday-container{
    width: 1020px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
}

.holiday-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 200px;
    margin: 0 auto;

}

.holiday-text h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.holiday-text h1{
    font-family: "Merriweather", serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

#holiday{
    color: #FF0000;
}

.holiday-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}

/* .solid-color{
    width: 1020;
    height: 232px;
    background-color: red;
    position: absolute;
    top:300px;
    
    
} */

.solid-color{
    position: absolute;
    width: 1020px;
    height: 229px;
    background-color:#FF0000;
    top: 700px;
}

.giftbox{

    width: 674.82px;
    height: 577.96px;
    position: relative;
    top: 40px;
    right: 150px;
    z-index: 1;
  

}

.discount{
    position: absolute;
    bottom: 29%;
    left: 700px;
    
}

/* Protfolio code stard here */
.protfolio-container{
    width: 1020px;
    height: 900.07px;
    margin: 0 auto;
    margin-top: 80px;

}

.protflio-text h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;

}

.protflio-text h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 38px;
    font-weight: 900;
    margin-bottom: 5px;
}

.protflio-text p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
    
    
}

.protfolio-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}

.prot-item{      
   width: 325px;
   height: 340px;
}

.prot-item img{
    width: 100%;
    height: 100%;
}





    